*{
  font-family: Bariol;
}

.mobile-bottom-nav {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 8vh;
    background: var(--nav-dark);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 300;
  }

  .mobile-bottom-nav .mobile-nav-btn {
    background: transparent;
    border: none;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: var(--white);
    cursor: pointer;
    padding: 6px;

    
  }
  a#active svg path {
    fill: var(--accent-neutral);
  }