*{
  font-family: Bariol;
  margin: 0;
}

/* sections */
nav{
    position: fixed;
    left: 0;
    right: 0;
    height: 8vh;
    background: var(--nav-dark);
    display: flex;
    justify-content: space-around;
    z-index: 300;
    align-items: center;
  }

  .mobile-bottom-nav{
      bottom: 0;
    }


  .mobile-top-nav{
      top: 0;
      align-items: right;
    }


/* buttons  */
a{
      background: transparent;
      border: none;
      border-radius: var(--border-radius-neutral);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 4px;
      color: var(--white);
      cursor: pointer;
      padding: 6px;
      }

  .mobile-top-nav-btn {
    justify-content: right;
    align-items: right;

  }
  #active svg path{
    fill: var(--accent-neutral);
  }
  #search svg path{
    stroke: var(--accent-neutral);
  }