* {
  font-family: var(--font-family);
  margin: 0;
}

/* sections */
nav {
  position: fixed;
  left: 0;
  right: 0;
  height: 6vh;
  background: var(--nav-dark);
  display: flex;
  justify-content: space-around;
  z-index: 300;
  align-items: center;
}

.mobile-bottom-nav {
  bottom: 0;

  svg {
    width: 3vh;
    height: 3vh;
  }
}

.mobile-top-nav {
  color: var(--white);
  top: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 3vh;
  font-size: var(--font-size-largest);

  svg {
    width: 3vh;
    height: 3vh;
  }
}

.mobile-sub-nav {
  height: 6vh;
  background: var(--secondary-bg-lightest);
  display: flex;
  justify-content: left;
  align-items: center;

  p {
    width: 3vh;
    height: 3vh;
    margin: 1.5vh 2vh;

    svg {
      width: 100%;
      height: 100%;
      fill: var(--secondary-bg-dark)
    }
  }

  h2 {
    font-size: var(--font-size-large);
    color: var(--secondary-bg-dark);
  }
}


.mobile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.capture-menu {
  display: flex;
  margin: 6vh 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.search-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  width: 100%;
  background-color: var(--secondary-bg-lightest);
}

.gallery {
  display: grid;
  margin: 1vh;
  grid-template-columns: repeat(auto-fit, minmax(30vh, 1fr));
  gap: 0.5vh;
  justify-content: center;
  align-items: center;
}

.gallery-medium {
  display: grid;
  margin: 1vh;
  grid-template-columns: repeat(auto-fit, minmax(20vh, 1fr));
  gap: 0.5vh;
  justify-content: center;
  align-items: center;
}

.gallery-small {
  display: grid;
  margin: 1vh;
  grid-template-columns: repeat(auto-fit, minmax(13vh, 1fr));
  gap: 0.5vh;
  justify-content: center;
  align-items: center;
}

.gallery-item {
  display: flex;
  justify-content: center;
}

.gallery img {
  width: 100%;
  border-radius: var(--border-radius-small);
}

.gallery-small img {
  width: 100%;
}

ul {
  padding: 0;
  width: 100vw;
  max-width: 400px;
}

li {
  padding: 1vh 2vh;
  margin: 1vh 0;
  height: 6vh;
  background: var(--secondary-bg-lightest);
  display: flex;
  justify-content: left;
  align-items: center;

  a{
    text-decoration: none;
    color: #000;
    align-items: left;
    justify-content: left;
  }

  button{
    margin-left: auto;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  svg{
    width: 3vh;
    height: 3vh;
    fill: var(--secondary-bg-dark);
  }
}

/* buttons  */
a {
  text-decoration: none;
  color: var(--white);
}

.mobile-top-nav .btn,
.mobile-bottom-nav .btn {
  background: transparent;
  border: none;
  border-radius: var(--border-radius-neutral);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 2.1vh;
  width: 2.1vh;
  padding: 0;
  color: var(--white);
  cursor: pointer;
  z-index: 300;
}


#active svg path {
  fill: var(--accent-light);
}

#search svg path {
  stroke: var(--accent-light);
}

.btn {
  all: unset;
  background-color: var(--accent-light);
  color: var(--white);
  padding: 1rem 1rem;
  border-radius: var(--border-radius-big);
  font-weight: var(--font-weight-dark);
  transition: background-color 1s;
  user-select: none;
  cursor: pointer;

  &:hover {
    background-color: var(--accent-darkest);

  }

  &:active {
    background-color: var(--accent-darkest);
    translate: 0 1px;

  }

  &:focus-visible {
    background-color: var(--accent-darkest);
    outline: solid .15em currentcolor;
    outline-offset: -.3em;
  }
}

.round {
  padding: 2vw;
  border-radius: var(--border-radius-round);
  line-height: 1;
}

.capture {
  padding: 2rem 2rem;

  svg {
    width: 3rem;
    height: auto;
  }
}

.searchbar input {
  width: 90vw;
  height: 18vh;
  border-radius: var(--border-radius-tiny);
  padding: 4px 8px;
  font-size: var(--font-size-neutral);
}